{#
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

#}
{% extends "airflow/task_instance.html" %}
{% block title %}Airflow - DAGs{% endblock %}

{% block body %}
  {{ super() }}

  <div id="error" style="display: none; margin-top: 10px;" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span id="error_msg">Oops.</span>
  </div>
  <h4>{{ title }}</h4>
  <ul class="nav nav-pills" role="tablist">
    {% for log in logs %}
      <li role="presentation" class="{{ 'active' if loop.last else '' }}">
        <a href="#{{ loop.index }}" aria-controls="{{ loop.index }}" role="tab" data-toggle="tab">
          {{ loop.index }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for log in logs %}
      <div role="tabpanel" class="tab-pane {{ 'active' if loop.last else '' }}" id="{{ loop.index }}">
        <pre id="attempt-{{ loop.index }}">{{ log }}</pre>
      </div>
    {% endfor %}
    <img id="loading" alt="spinner" src="{{ url_for('static', filename='loading.gif') }}"
         style="margin: auto; display: none;">
  </div>
  <button class="btn btn-default pull-left refresh_button" style="margin-bottom: 10px;">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true" title="Refresh Logs"></span>
  </button>
{% endblock %}

{% block tail %}
{{ super() }}
<script>
    function error(msg) {
        $('#error_msg').html(msg);
        $('#error').show();
        reset();
    }

    function reset() {
        $('#loading').css('display', 'none');
        $(".refresh_button").removeClass('disabled');
    }

    $(".refresh_button").on("click", function() {
        $("#loading").css('display', 'block');
        $('#error').hide();
        $(".refresh_button").addClass('disabled');
        $.get(decodeURIComponent(window.location.href) + '&log_id=' + $("div.tab-pane.active").attr('id')
        ).done(
            function(data) {
                var attempt = $("div.tab-pane.active").attr('id')
                $("pre#attempt-" + attempt).text(data.replace(/\r\n/g, '\n'));
                reset();
                window.scrollTo(0, document.body.scrollHeight);
            }
        ).fail(function(jqxhr, textStatus, err) {
            error(textStatus + ': ' + err);
        });
    });

</script>
{% endblock %}